# jetbrains IDE and log files
.idea/
log/

# phpdoc generation & output scripts
phpdoc.sh
output/

# include default.conf.php file but not others
conf/*.conf.php
!conf/default.conf.php

# misc. workbench files
workbench/servlist_.conf